* { margin: 0; padding: 0; }

.wrapper {
  max-width: 100vw;
  min-height: 100vh;

  display: grid;
  grid-template: minmax(5vh, auto) / 1fr 1fr 1fr;
  grid-template-areas: "main main main";
}

.main {
  perspective: 10px;
  perspective-origin: 50%;

  position: relative;

  background-color: rgba($color: #430149, $alpha: 1.0);

  grid-area: main;

  overflow-x: hidden;

  .section {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: 0 50%;
  }

  .section--back {
    width: 100%;
    height: auto;

    transform: translateZ(0px) scale(1);
  }

  .section--mid {
    width: 100%;
    height: 100%;

    transform: translateZ(8px) scale(0.2);

    .card {
      width: 100px;
      height: 150px;

      position: absolute;

      background-color: white;
    }
    .card:nth-child(odd) { border: 4px solid red; right: (3 * 2) + 0%; }
    .card:nth-child(even) { border: 4px solid black; left: (3 * 2) + 0%; }

    @for $i from 1 to 7 {
      .card--#{$i} { top: ($i * 45) + 0%; }
    }
  }

  .section--front {
    transform: translateZ(4px) scale(0.6);
    transform-origin: top;
  }
}
